{% extends 'base.html.twig' %}
 {% block body %}

 	<H2>Article de la catégorie : {{ category.name }} </H2>

 	{% for article in articles %}
 	<a href="{{ path('show_one', {id: article.id}) }}"><h4 class="text-info">Titre : {{ article.title }}</h4></a>
 		<p>{{ article.content }}</p>
 	{% endfor %}

 {% endblock %}