{{ form_start(form) }}
    {{ form_widget(form) }}
    <input placeholder="Email" type="text" name="email"><br>
    <button class="btn">{{ button_label|default('Create') }}</button>

{{ form_end(form) }}
